$foreground: #222222;
$background: #eeeeee;
$secondary: rgb(77, 77, 77);
$tertiary: #e4e4e4;
$accent: #245cc4;

$foreground-dark: #e1e4dc;
$background-dark: #25292e;
$secondary-dark: #808fa0;
//$tertiary-dark: #2B303B;
$tertiary-dark: #2B303B;
$accent-dark: $accent;

$code: #2B303B;


@mixin light-theme {
    color: $foreground;
    background-color: darken($background, 5%);;

    .secondary {
        color: $secondary !important;
    }

    .primary {
        color: $foreground !important;
    }

    .accent {
        color: $accent !important;
    }

    a, a:link, a:visited {
        color: $accent;
    }

    a:hover {
        color: lighten($accent, 10%);
    }

    blockquote {
        border-left: 2px solid $secondary;
    }

    code {
        background-color: $tertiary;
    }

    pre code {
        background-color: transparent;
    }

    main {
        background-color: $background;
    }

    .footnote-definition sup {
        color: $secondary;
    }

    .card {
        background-color: #202428;
        border-color: #245cc4;
    }

    .border {
        border-color: $accent;
    }

    .bg-accent {
        background-color: $accent;
        color: $foreground;
    }

    .bg-tertiary {
        background-color: $tertiary;
        color: $foreground;
    }

    .bg-code {
        background-color: $tertiary;
        color: $foreground;
    }

    .bg {
        background-color: $background;
    }

    .button:hover {
        background-color: $tertiary;
  }

  .invertible{
    filter: invert(0%);
  }
}

@mixin dark-theme {
    color: $foreground-dark;
    background-color: darken($background-dark, 5%);

    .invertible{
        filter: invert(100%);
    }

    .secondary {
        color: $secondary-dark !important;
    }

    .primary {
        color: $foreground-dark !important;
    }

    .accent {
        color: $accent-dark !important;
    }

    a, a:link, a:visited {
        color: $accent-dark;
    }

    a:hover {
        color: lighten($accent-dark, 10%);
    }

    blockquote {
        border-left: 2px solid $secondary-dark;
    }

    code {
        background-color: $tertiary-dark;
    }

    pre code {
        background-color: transparent;
    }

    main {
        background-color: $background-dark;
    }

    .footnote-definition sup {
        color: $secondary-dark;
    }

    .border {
        border-color: $accent-dark;
    }

    .bg-accent {
        background-color: $accent-dark;
        color: $foreground-dark;
    }

    .bg-tertiary {
        background-color: $tertiary-dark;
        color: $foreground-dark;
    }

    .bg-code {
        background-color: $code;
        color: $foreground-dark;
    }

    .bg {
        background-color: $background-dark;
    }

    .button {
        color: white;
        //border-color: $accent-dark;
    }

    .button:hover {
        color: $foreground-dark;
        background-color: $tertiary-dark;
  }


  
}

@media (prefers-color-scheme: light) {
    body {
        @include light-theme;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-theme;
    }
}

.dark-mode-buttons {
    position: absolute;

    top: 1em;
    right: 1em;
}

.dark-mode-button {
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

body:not(.dark-mode) {
    @include light-theme;

    #dark-mode-on {
        display: inline;
    }

    #dark-mode-off {
        display: none;
    }
}

body.dark-mode {
    @include dark-theme;

    #dark-mode-on {
        display: none;
    }

    #dark-mode-off {
        display: inline;
    }
}
